@font-face {
  font-family: "Gilroy-bold";
  font-weight: 700;
  src: url(/Assets/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  src: url(/Assets/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  src: url("/Assets/Gilroy-Regular.ttf");
}

body {
  background-image: url(./Assets/Background-hero.png);
  background-color: black;
  background-repeat: no-repeat;
  background-position: centers;
  background-attachment: fixed;
  background-size: cover;

  font-family: "Gilroy-Regular";
  font-weight: 300;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

[disabled="true"] {
  opacity: 0;
}

/* header start */

header {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px 0;
}

header .navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 67px;
}

header .navbar a {
  color: #f4f4f5;
  font-family: Gilroy-regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

header .logo-container .logo {
  color: #f4f4f5;
  font-family: Gilroy-semibold;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
section {
  padding: 0 80px;
}

/* header end */

/* hero-section start */

.hero-section {
  position: relative;
  /* max-width: 1715px; */
  /* margin: auto; */
}

.hero-section .text-top {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  padding-top: 100px;
}

.hero-section .text-top h3 {
  color: #f4f4f5;
  font-family: Gilroy-Regular;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-section .text-top h1 {
  color: #f4f4f5;
  font-family: Gilroy-Bold;
  font-size: 89px;
  font-style: normal;
  font-weight: 400;
  line-height: 113px; /* 126.966% */
}

.hero-section .text-bottom {
  display: flex;
  flex-direction: row;
  gap: 1074px;
  padding-top: 120px;
  align-items: end;
}

.hero-section .text-bottom p {
  color: #fff;
  font-family: Gilroy-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.hero-section .text-bottom img {
  position: relative;
  width: 139px;
  height: 139px;
  flex-shrink: 0;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/** our-work start **/

.our-work {
  min-height: 400px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-right: 0;
  margin-bottom: 100px;
  /* max-width: 1715px; */
  /* margin: auto; */
  color: white;
}
.our-work .our-work__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
}

.our-work .our-work__head .our-work__title h3 {
  color: #f4f4f5;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.our-work .our-work__head .slider-btns {
  display: flex;
  gap: 20px;
}

.our-work .slider-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.our-work .slider-container .slider-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  transition: all 0.7s ease;
}
.our-work .slider-container .slider-wrapper .slides {
  flex-shrink: 0;
  display: flex;
  width: 680px;
  height: 465px;
  border-radius: 31px;
  overflow: hidden;
  border: 1px solid rgba(244, 244, 245, 0.29);
  position: relative;
}

.our-work .slider-container .slider-wrapper .slides .slide-container {
  flex-basis: 100%;
  background: url(Assets/slide-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-work .slider-container .slide-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-work .slider-container .slide-heading .slide-services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.our-work .slider-container .slide-heading .slide-services span {
  padding: 10px 20px;
  border-radius: 38px;
  border: 1px solid #f4f4f5;
  font-weight: 400;
}

.our-work .slider-container .slide-heading .slide-number {
  font-size: 16px;
  font-weight: 400;
}

.our-work .slider-container .slide-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.our-work .slider-container .slide-content h3 {
  color: #f4f4f5;
  font-family: Gilroy-Regular;
  font-size: 60px;
  font-weight: 400;
}
.our-work .slider-container .slide-content p {
  color: #f4f4f5;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-right: 160px;
}
